nav {
	width: 100%;
	min-height: 10vh;
	background-color: var(--neutral-dblue);
	color: var(--neutral-white);

	display: flex;
	flex-direction: column;
	justify-content: center;

	box-shadow: 0px 0px 27px -2px rgba(150,150,150,0.5);
}

a {
	text-decoration: none;
	color: inherit;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-wrapper ul {
	display: flex;
	gap: 1.5rem;

	list-style-type: none;
}

.nav-wrapper li {
	transition: transform 0.1s ease-in;
}

.nav-wrapper li:hover {
	text-decoration: underline;
	transform: scale(1.1);
}

.nav-wrapper h1 {
	font-size: 2rem;
}